@charset "UTF-8";
/* @extend display-flex; */
display-flex {
  display: flex;
  display: -webkit-flex;
}

/* @extend list-type-ulli; */
list-type-ulli {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@-webkit-keyframes ltr {
  0% {
    left: -30%;
  }
  100% {
    left: 120%;
  }
}
@-webkit-keyframes rtl {
  0% {
    right: -30%;
  }
  100% {
    right: 120%;
  }
}
.animate-ltr {
  -webkit-animation: linear infinite;
  -webkit-animation-name: ltr;
  -webkit-animation-duration: 30s;
}

.animate-rtl {
  -webkit-animation: linear infinite;
  -webkit-animation-name: rtl;
  -webkit-animation-duration: 30s;
}

.owl-theme .owl-nav {
  position: relative;
  margin: 32px 0 0;
  font-size: 12px;
  display: inline-block;
}

.owl-dots {
  position: absolute;
  bottom: 40px;
  width: 100%;
}

.container .owl-carousel .owl-nav button.owl-next,
.container .owl-carousel .owl-nav button.owl-prev,
.container .owl-carousel button.owl-dot {
  outline: none;
  padding: 4px 8px !important;
  margin: 0;
  color: black !important;
  background: transparent !important;
}
.container .owl-carousel .owl-nav button.owl-next,
.container .owl-carousel .owl-nav button.owl-prev {
  opacity: 0.4;
}
.container .owl-carousel .owl-nav button.owl-next:hover,
.container .owl-carousel .owl-nav button.owl-prev:hover {
  opacity: 0.8;
}
.container .owl-theme .owl-dots .owl-dot span {
  width: 8px;
  height: 8px;
  margin: 0;
}
.container .owl-theme .owl-dots .owl-dot.active span,
.container .owl-theme .owl-dots .owl-dot:hover span {
  background-color: #EC1C24;
}

@media (min-width: 1024px) {
  .owl-theme .owl-nav {
    margin-top: 80px;
  }

  .owl-dots {
    width: auto;
    left: 17%;
  }
}
.slider-image {
  background-size: cover;
  background-position: bottom center;
}
.slider-image-about {
  background-image: url("../images/intro/about.jpg");
}
.slider-image-covid {
  background-image: url("../images/intro/covid.jpg");
}
.slider-image-covid-parallax {
  background-attachment: fixed;
}
.slider-image-africa {
  background-image: url("../images/intro/africa.jpg");
}
@media (max-width: 768px) {
  .slider-image {
    background-size: auto 100%;
  }
}

.owl-carousel .owl-item {
  height: 880px;
}
.owl-carousel .owl-item .item {
  height: 880px;
}

.intro-carousel {
  color: #FFFEF0;
}

.owl-theme .owl-dots .owl-dot {
  outline: none;
}
.owl-theme .owl-dots .owl-dot.active span {
  background: white;
}
.owl-theme .owl-dots .owl-dot span {
  border: 1px solid white;
  background: transparent;
}

.signup-content {
  background: #fff;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  padding: 50px 85px;
}

.form-group {
  overflow: hidden;
  margin-bottom: 20px;
}

.form-input {
  width: 100%;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  padding: 17px 20px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  color: #222;
}
.form-input::-webkit-input-placeholder {
  color: #999;
}
.form-input::-moz-placeholder {
  color: #999;
}
.form-input:-ms-input-placeholder {
  color: #999;
}
.form-input:-moz-placeholder {
  color: #999;
}
.form-input::-webkit-input-placeholder {
  font-weight: 500;
}
.form-input::-moz-placeholder {
  font-weight: 500;
}
.form-input:-ms-input-placeholder {
  font-weight: 500;
}
.form-input:-moz-placeholder {
  font-weight: 500;
}
.form-input:focus {
  border: 1px solid transparent;
  -webkit-border-image-source: -webkit-linear-gradient(to right, #9face6, #74ebd5);
  -moz-border-image-source: -moz-linear-gradient(to right, #9face6, #74ebd5);
  -o-border-image-source: -o-linear-gradient(to right, #9face6, #74ebd5);
  border-image-source: linear-gradient(to right, #9face6, #74ebd5);
  -webkit-border-image-slice: 1;
  border-image-slice: 1;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.form-input:focus::-webkit-input-placeholder {
  color: #222;
}
.form-input:focus::-moz-placeholder {
  color: #222;
}
.form-input:focus:-ms-input-placeholder {
  color: #222;
}
.form-input:focus:-moz-placeholder {
  color: #222;
}

.form-submit {
  width: 100%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  padding: 17px 20px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  border: none;
  background-image: -moz-linear-gradient(to left, #74ebd5, #9face6);
  background-image: -ms-linear-gradient(to left, #74ebd5, #9face6);
  background-image: -o-linear-gradient(to left, #74ebd5, #9face6);
  background-image: -webkit-linear-gradient(to left, #74ebd5, #9face6);
  background-image: linear-gradient(to left, #74ebd5, #9face6);
}

input[type=checkbox]:not(old) {
  width: 2em;
  margin: 0;
  padding: 0;
  font-size: 1em;
  display: none;
}

input[type=checkbox]:not(old) + label {
  display: inline-block;
  margin-top: 7px;
  margin-bottom: 25px;
}

input[type=checkbox]:not(old) + label > span {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 15px;
  margin-bottom: 3px;
  border: 1px solid #ebebeb;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  background: white;
  background-image: -moz-linear-gradient(white, white);
  background-image: -ms-linear-gradient(white, white);
  background-image: -o-linear-gradient(white, white);
  background-image: -webkit-linear-gradient(white, white);
  background-image: linear-gradient(white, white);
  vertical-align: bottom;
}

input[type=checkbox]:not(old):checked + label > span {
  background-image: -moz-linear-gradient(white, white);
  background-image: -ms-linear-gradient(white, white);
  background-image: -o-linear-gradient(white, white);
  background-image: -webkit-linear-gradient(white, white);
  background-image: linear-gradient(white, white);
}

input[type=checkbox]:not(old):checked + label > span:before {
  content: "";
  display: block;
  color: #222;
  font-size: 11px;
  line-height: 1.2;
  text-align: center;
  font-family: "Material-Design-Iconic-Font";
  font-weight: bold;
}

.label-agree-term {
  font-size: 12px;
  font-weight: 600;
  color: #555;
}

.term-service {
  color: #555;
}

.loginhere {
  color: #555;
  font-weight: 500;
  text-align: center;
  margin-top: 91px;
  margin-bottom: 5px;
}

.loginhere-link {
  font-weight: 700;
  color: #222;
}

.field-icon {
  float: right;
  margin-right: 17px;
  margin-top: -32px;
  position: relative;
  z-index: 2;
  color: #555;
}

@media screen and (max-width: 768px) {
  .container {
    width: calc(100% - 40px);
    max-width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .signup-content {
    padding: 50px 25px;
  }
}
html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
}

p {
  line-height: 1.7;
}

.opacity-64 {
  opacity: 0.64;
}

.bg-red {
  background-color: #EC1C24;
}

.bg-light-purple {
  background-color: #F9F3F8;
}

.hover\:bg-red:hover {
  background-color: #c51017;
}

.bg-gray {
  background-color: #F7F7F7;
}

.nav-link, .border-rb, .border-rb-large {
  padding-bottom: 12px;
  display: inline-block;
}
.nav-link:after, .border-rb:after, .border-rb-large:after {
  content: "";
  background: #fff;
  border-radius: 4px;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.border-rb-large:after {
  height: 5px;
}

.nav-link {
  opacity: 0.8;
}
.nav-link:after {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: 0;
}
.nav-link.active {
  opacity: 1;
}
.nav-link.active:after {
  width: 100%;
}
.nav-link:hover:after {
  width: 100%;
}

.text-line {
  border-bottom: solid 2px gainsboro;
  width: 110px;
}

.custom-top-left {
  top: 150px;
  left: 120px;
}

.custom-bottom1 {
  bottom: -55px;
}

.custom-bottom2 {
  bottom: -90px;
}

.input-form:focus {
  border-color: #EC1C24;
}

/*# sourceMappingURL=style.css.map */
/* The side navigation menu */
.sidenav {
  display: none;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
@media screen and (max-width: 768px) {
  .sidenav a {
    font-size: 18px;
  }
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
@media screen and (max-width: 768px) {
  .sidenav {
    padding-top: 15px;
  }
}

.exp-side-image-kenya {
  background-image: url("../images/experience/kenya.jpg");
}
.exp-side-image-workplace {
  background-image: url("../images/experience/workplace.jpg");
}

.separator {
  width: 1px;
  height: 460px;
  background-color: #000000;
  opacity: 0.1;
}

.bg-blend-soft-light {
  background-blend-mode: soft-light;
}

.bg-blue-button {
  background-color: #4283E4;
}

.intro-bar-line {
  height: 8px;
  background-color: #D38282;
  width: 0;
}

.map-identifier {
  top: 47%;
  left: 61%;
  z-index: 100;
}
.map-identifier-frame {
  top: 38%;
  left: 48.5%;
}
.map-identifier-frame-tip {
  top: 39%;
  left: 61%;
}
.map-identifier-frame-name {
  top: -20px;
  left: 40%;
}
.map-identifier-frame-text {
  top: 0;
  left: 69%;
}
.map-identifier-frame-link {
  top: 60px;
  left: 69%;
  color: #A8FFFD;
}

.kenya-identifier {
  top: 48%;
  left: 48%;
  z-index: 100;
}
.kenya-identifier-frame {
  top: 38.75%;
  left: 35.65%;
}
.kenya-identifier-frame-tip {
  top: 39%;
  left: 61%;
}
.kenya-identifier-frame-name {
  top: -20px;
  left: 43%;
}
.kenya-identifier-frame-text {
  top: 0;
  left: 69%;
}
.kenya-identifier-frame-link {
  top: 60px;
  left: 69%;
  color: #A8FFFD;
}

.kenya-identifier:hover + .kenya-identifier-frame {
  display: block;
}

.identifier2 {
  top: 53%;
  left: 59%;
}

.identifier3 {
  top: 55%;
  left: 58%;
}

.identifier4 {
  top: 55%;
  left: 61%;
}

/*# sourceMappingURL=styles.css.map */
