// Common
@import 'includes/extend';
@import 'includes/mixins';
@import 'includes/variables';
@import 'includes/global';
@import 'includes/owl-carousel';
@import 'includes/nav';

// Layout
@import 'layout/main';

// Responsive
@import 'layout/responsive';

.border-rb-large {
  @extend %borderRB;

  &:after {
    height: 5px;
  }
}

.border-rb {
  @extend %borderRB;
}

.text-line {
  border-bottom: solid 2px gainsboro;
  width: 110px;
}

.modal {
  > div {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
  }
}

.custom-top-left {
  top: 150px;
  left: 120px;
}

.custom-bottom1 {
  bottom: -55px;
}

.custom-bottom2 {
  bottom: -90px;
}

/* The side navigation menu */
.sidenav {
  display: none;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;

  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;

    &:hover {
      color: #f1f1f1;
    }

    @media screen and (max-width: 768px) {
      font-size: 18px;
    }
  }

  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  @media screen and (max-width: 768px) {
    padding-top: 15px;
  }

}

.exp-side-image {
  &-kenya {
    background-image: url("../images/experience/kenya.jpg")
  }

  &-workplace {
    background-image: url("../images/experience/workplace.jpg")
  }
}

.separator {
  width: 1px;
  height: 460px;
  background-color: #000000;
  opacity: 0.1;
}

.bg-blend-soft-light {
  background-blend-mode: soft-light;
}

.bg-blue-button {
  background-color: #4283E4;
}

.intro-bar-line {
  height: 8px;
  background-color: #D38282;
  width: 0;
}

.parallax-window {
  min-height: 400px;
  background: transparent;
}

.text-gray{
  color: #555555;
}

.text-pale-yellow{
  color: #FBDC8E;
}

select {
  color: #a0aec0;

  &.selected {
    color: #000;
  }

  &:valid {
    color: #000;
  }
}