.nav-link {
    @extend %borderRB;
    opacity: .8;

    &:after {
        @include single-transition(all, 0.25s, ease-in-out);
        width: 0;
    }

    &.active {
        opacity: 1;

        &:after {
            width: 100%;
        }
    }

    &:hover {
        &:after {
            width: 100%;
        }
    }
}

.sc-nav {
    &.shadow {
        .nav-link {
            &:after {
                background: #000;
            }
        }
    }
}